.single-product
	position: relative
	padding: 0 0 25px
	margin: 0 -10px
	display: flex
	align-items: flex-start
	&__col
		position: relative
		box-sizing: border-box
		padding: 10px
		width: 33.3333%
		&--content
			width: auto
			flex-grow: 1
		&_image
			img
				display: block
				max-width: 100%
				margin: 0
		&_info
			> h4
				margin: 0 0 20px
				font-weight: 500
			> p
				margin: 0 0 20px
				strong
					font-weight: 500
		&--aside
			width: 504px
			flex-shrink: 0
			padding: 0 0 20px 20px
	&__scroll
		display: flex
		align-items: flex-start
		width: 66.6666%
		.single-product__col
			width: 50%

.single-product-specs
	font-size: 14px
	&__row
		&:not(:last-child)
			margin-bottom: 15px
		display: flex
		align-items: flex-start
		justify-content: space-between
	&__col
		color: #A4A9AD
		h5
			font-size: 14px
			font-weight: 500
			margin: 0
		&_value
			color: $color-black

.product-aside-block
	position: relative
	padding: 20px
	background-color: #FFF
	box-shadow: 0px 2px 24px rgba(29, 29, 29, 0.16)
	border-radius: 4px
	&:not(:last-child)
		margin-bottom: 16px
	&__title
		font-weight: 700
		margin: 0
		&:not(:first-child)
			margin-top: 20px
		&:not(:last-child)
			margin-bottom: 15px
	&__spec-row
		display: flex
		align-items: center
		justify-content: space-between
		&:not(:last-child)
			margin-bottom: 20px
		&_grey-text
			color: #A4A9AD
		.data-col
			&:nth-child(2)
				text-align: right
		h5
			margin: 0
			font-size: 16px
			.old
				position: relative
				&::before
					content: ''
					position: absolute
					left: 0
					top: 0
					right: 0
					bottom: 0
					background: url("data:image/svg+xml,%3Csvg width='65' height='14' viewBox='0 0 65 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.8' x='0.774414' y='8.90527' width='63.8782' height='4.41659' transform='rotate(-8.01347 0.774414 8.90527)' fill='%23E25959'/%3E%3C/svg%3E%0A") no-repeat 50% 50% transparent
					background-size: 100%
		small
			display: block
			font-size: 12px
			color: #a1a1a1
			margin-bottom: 3px
	&__qty-input
		width: 80px
		display: block
	&__note
		font-size: 14px
		display: block
		margin: 15px 0
		color: #A4A9AD
		&:last-child
			margin-bottom: 0
	.sp-warehouse-card
		&:not(:last-child)
			margin-bottom: 10px


.product-partner-title
	display: flex
	align-items: flex-start
	margin: 0 0 15px
	&__icon
		width: 33px
		height: 33px
		position: relative
		display: flex
		align-items: center
		justify-content: center
		margin-right: 10px
		svg
			display: block
			margin: 0
			max-width: 100%
			max-height: 100%
	&__text
		font-size: 14px
		padding-top: 7px

.sp-select-size
	display: flex
	align-items: flex-start
	margin-bottom: 20px
	&__title
		font-size: 14px
		margin: 0 6px 0 0
		font-weight: 400
		flex-shrink: 0
		white-space: nowrap
		padding-top: 14px
	&__inputs
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		input
			position: absolute
			clip: rect(0 0 0 0)
			width: 1px
			height: 1px
			margin: -1px
			opacity: 0
			&:checked + label
				// background-color: #A4A9AD
				// border: 1px #A4A9AD solid
				// color: #fff
				pointer-events: none
				border: 1px $color-blue solid
				background-color: #f8f8fe
		label
			white-space: nowrap
			font-size: 14px
			padding: 10px
			margin: 3px
			border-radius: 4px
			display: inline-block
			border: 1px #edeeef solid
			cursor: pointer
			user-select: none
			&:hover
				border: 1px #a4a8ad solid

.sp-select-qty
	position: relative
	margin-bottom: 20px
	display: flex
	.common-input
		border-right: none
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		min-width: 220px
		margin: 0
	.common-select
		height: 50px
		border-top-left-radius: 0
		border-bottom-left-radius: 0
	.select2-selection.select2-selection--single
		border-radius: 0 4px 4px 0 !important
		height: 50px
		.select2-selection__rendered
			line-height: 48px

.sp-available
	display: flex
	flex-direction: column
	align-items: flex-start
	margin-bottom: 20px
	&__badge
		background: #63E8B8
		border-radius: 4px
		font-weight: 500
		font-size: 12px
		color: #fff
		padding: 5px 10px
		margin: 0 0 5px
	&__small
		font-size: 12px
		color: #A4A9AD

.sp-select-sell-type
	position: relative
	display: flex
	margin-bottom: 20px
	border: 1px #edeeef solid
	border-radius: 4px
	background-color: #fff
	padding: 5px
	input
		position: absolute
		clip: rect(0 0 0 0)
		width: 1px
		height: 1px
		margin: -1px
		opacity: 0
		&:checked + label
			background-color: #efeeef
			color: $color-black
			pointer-events: none
	label
		display: inline-block
		cursor: pointer
		box-sizing: border-box
		border-radius: 2px
		color: #A4A9AD
		font-size: 14px
		text-align: center
		width: 33.3333%
		padding: 10px 25px
		&:hover
			color: $color-black

.sp-total-prices
	position: relative
	margin-bottom: 20px
	&__row
		display: flex
		align-items: flex-start
		color: #A4A9AD
		font-weight: 400
		justify-content: space-between
		&:not(:last-child)
			padding-bottom: 5px
		p
			margin: 0
		&_last
			padding-top: 10px
			color: $color-black
			font-weight: 500
	&__col
		&:nth-child(2)
			text-align: right
			margin-left: 20px
			white-space: nowrap