extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Main page

block mainContent

	+header

	.main-content
		.main-content__inner
			.index-banners
				.banner-area
					.banner-area__col
						a.banner-area__banner(href="#")
							img(src="./assets/img/wide-banner@2x.jpg", alt="")
				.banner-area
					.banner-area__col.banner-area__col_1-5
						a.banner-area__banner(href="#")
							img(src="./assets/img/small-banner-01@2x.jpg", alt="")
					.banner-area__col.banner-area__col_1-5
						a.banner-area__banner(href="#")
							img(src="./assets/img/small-banner-02@2x.jpg", alt="")
					.banner-area__col.banner-area__col_1-5
						a.banner-area__banner(href="#")
							img(src="./assets/img/small-banner-03@2x.jpg", alt="")
					.banner-area__col.banner-area__col_1-5
						a.banner-area__banner(href="#")
							img(src="./assets/img/small-banner-04@2x.jpg", alt="")
					.banner-area__col.banner-area__col_1-5
						a.banner-area__banner(href="#")
							img(src="./assets/img/small-banner-05@2x.jpg", alt="")

			.products-grid
				h3.color-title.color-title_pink #[span Интересные предложения]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С
							.product-card__details
								.product-card__badge
									span(style="background-color: #EFF185") Акция
								.product-card__description
									p ТУ-0271-135-31323949-2005
								.product-card__static-price
									strong от 710 #[span ₽]
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button" data-one-click-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button" data-add-cart-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__badge
									span(style="background-color: #D3AEF8") Под заказ
								.product-card__description
									p ГОСТ Р 52087-2003
								.product-card__static-price
									strong от 350 #[span ₽]
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button" data-one-click-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button" data-add-cart-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__description
									p Измерительный прибор для определения горизонтальных и вертикальных углов при топографических съёмках
								.product-card__static-price
									strong от 710 #[span ₽]
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button" data-one-click-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button" data-add-cart-button)
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="1") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="1")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									a.product-card__all-sizes(href="#")
										svg(width="19" height="5")
											use(xlink:href="#icon-more-sizes")
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="3") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="3")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="4") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="4")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="5") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="5")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
			.index-banners
				.banner-area
					.banner-area__col
						a.banner-area__banner(href="#")
							img(src="./assets/img/proflist-banner@2x.jpg", alt="")

			.products-grid
				h3.color-title.color-title_green #[span Товары удалённого склада]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="111") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="111")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="12") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="12")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

			.index-banners
				.banner-area
					.banner-area__col
						a.banner-area__banner(href="#")
							img(src="./assets/img/modern-illumination-banner@2x.jpg", alt="")

			.products-grid
				h3.color-title.color-title_yellow #[span Товары партнёров]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="12121") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="12121")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="123") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="123")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="124") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="124")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="125") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="125")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

			.shape-banners
				.shape-banner
					.shape-banner__shape
						img(src="./assets/img/shape-green.svg", alt="")
					.shape-banner__icon
						svg(width="40" height="53")
							use(xlink:href="#icon-globe")
					.shape-banner__info
						h4.shape-banner__title Доставка по всей России
						p.shape-banner__text Доставим любой товар в ваш город в кратчайшие сроки
				.shape-banner
					.shape-banner__shape
						img(src="./assets/img/shape-pink.svg", alt="")
					.shape-banner__icon
						svg(width="58" height="45")
							use(xlink:href="#icon-factory")
					.shape-banner__info
						h4.shape-banner__title Собственное производство
						p.shape-banner__text Строительно-монтажный холдинг с крупнейшей в регионе материально-технической базой
				.shape-banner
					.shape-banner__shape
						img(src="./assets/img/shape-yellow.svg", alt="")
					.shape-banner__icon
						svg(width="25" height="62")
							use(xlink:href="#icon-ninja")
					.shape-banner__info
						h4.shape-banner__title Профессиональная команда
						p.shape-banner__text Наши сотрудники помогут с любым вопросом, на всех этапах заказа

	.index-news
		h3.color-title.color-title_grey #[span Новости и статьи]
		.index-news-area
			.index-news-area__cards
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Фото и видео
						h4.index-news-card__title Безопасность превыше всего
						time.index-news-card__date(datetime="2020-04-29") 29 апреля 2020
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Новости
						h4.index-news-card__title День строителя 2020
						time.index-news-card__date(datetime="2020-04-25") 25 апреля 2020
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Фото и видео
						h4.index-news-card__title Профнастил
						time.index-news-card__date(datetime="2020-04-14") 14 апреля 2020
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Новости
						h4.index-news-card__title Летний график работы
						time.index-news-card__date(datetime="2020-04-10") 10 апреля 2020
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Новости
						h4.index-news-card__title Рейсовый автобус
						time.index-news-card__date(datetime="2020-04-08") 8 апреля 2020
				.index-news-area__col
					.index-news-card
						a.index-news-card__overlay-link(href="#")
						span.index-news-card__category Фото и видео
						h4.index-news-card__title График работы в праздничные дни
						time.index-news-card__date(datetime="2020-04-01") 1 апреля 2020
			a.index-news-area__show-more(href="#") все новости

	+footer