extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Order

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Оформление заказа
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					a(href="#") Корзина
				li
					strong Оформление заказа
				li
					span Подтверждение
				li
					span
						svg.inactive(width="30" height="14")
							use(xlink:href="#icon-order-car")
			.section-header__icon
				svg(width="62" height="30")
					use(xlink:href="#icon-order-car")


	.main-content
		.main-content__inner
			.order-page
				form.order-page__content(action="./" method="post")
					.order-page__step
						.order-step-heading
							h3.order-step-heading__title #[span.number 1] Заказ со склада MSG
							.order-step-heading__weight
								svg(width="19" height="20")
									use(xlink:href="#icon-order-weight")
								span вес этого заказа: 7.9856 тонн
						.order-page__step-content
							div(data-fieldset-switching)
								.order-data-section
									h4.order-data-section__title Способ получения
									.order-get-methods
										.order-get-methods__col
											.get-method-card
												input#getmethod1(type="radio" name="getmethod" value="1" checked data-switch-fieldset="order-delivery")
												label.get-method-card__label(for="getmethod1")
													.get-method-card__title
														.get-method-card__icon
															svg(width="22" height="10")
																use(xlink:href="#icon-order-car")
														h4 Доставка
													.get-method-card__info
														p #[strong по Иваново – бесплатно]
														p #[span.blue Ближайшая доставка 17 апреля 2020]
														a.get-method-card__terms(href="#" target="_blank") Условия доставки
										.order-get-methods__col
											.get-method-card
												input#getmethod2(type="radio" name="getmethod" value="2" data-switch-fieldset="order-pickup")
												label.get-method-card__label(for="getmethod2")
													.get-method-card__title
														.get-method-card__icon
															svg(width="18" height="16")
																use(xlink:href="#icon-small-boxes")
														h4 Самовывоз
													.get-method-card__info
														p #[strong со склада и когда удобно]
														p #[span пн-пт: 10.00-19.00, сб-вс: 10.00-17.00]
														a.get-method-card__terms(href="#" target="_blank") Условия самовывоза
								fieldset(data-fieldset="order-delivery")
									.order-data-section
										h4.order-data-section__title Дата и время доставки
										.order-delivery-date
											.order-delivery-date__col
												select.common-select(name="order-delivery-date")
													option(value="0" selected disabled) Дата
													option(value="24042020") 24 апреля 2020 (пт)
													option(value="25042020") 25 апреля 2020 (сб)
													option(value="26042020") 26 апреля 2020 (вс)
											.order-delivery-date__col
												select.common-select(name="order-delivery-time")
													option(value="0" selected disabled) Время
													option(value="10-12") с 10:00 до 12:00
													option(value="13-16") с 13:00 до 16:00
													option(value="17-20") с 17:00 до 20:00
									.order-data-section
										h4.order-data-section__title Адрес получателя
										.order-delivery-address
											.order-delivery-address__address-popup(data-address-popup)
												h4
													.icon
														svg(width="16" height="18")
															use(xlink:href="#icon-flag")
													span Адрес на карте
												input.common-input(type="text" placeholder="По адресу или координатам" data-floating-label)
												.map-area место для карты
												button.action-button.action-button_smaller(type="button" data-close-address-popup) Сохранить
											.order-delivery-address__fields
												.order-delivery-address__col
													input.common-input(type="text" name="order-city" placeholder="Населённый пункт" required data-floating-label)
												.order-delivery-address__col
													input.common-input(type="text" name="order-street" placeholder="Улица" required data-floating-label)
												.order-delivery-address__col.order-delivery-address__col_1-2
													input.common-input(type="text" name="order-street-number" placeholder="Дом" required data-floating-label)
												.order-delivery-address__col.order-delivery-address__col_1-2
													input.common-input(type="text" name="order-flat" placeholder="Квартира" required data-floating-label)
											button.order-delivery-address__show-map(type="button" data-show-address-popup) найти адрес на карте
									.order-data-section
										h4.order-data-section__title Тип транспорта
										small.order-data-section__small От типа транспорта зависит стоимость доставки
										.order-transport-type
											.order-transport-type__col
												.order-transport-type-input
													input#ott1(type="radio" name="ott" value="1" checked)
													label(for="ott1")
														p Газель 3 м. (1.5 т, 12 м3)
														strong Бесплатно
											.order-transport-type__col
												.order-transport-type-input
													input#ott2(type="radio" name="ott" value="2")
													label(for="ott2")
														p Газель 4 м. (1.5 т, 14.5 м3)
														strong 530 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott3(type="radio" name="ott" value="3")
													label(for="ott3")
														p Газель 5 м. (1.5 т, 22 м3)
														strong 630 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott4(type="radio" name="ott" value="4")
													label(for="ott4")
														p Газель 6 м. (1.5 т 25 м3)
														strong 7490 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott5(type="radio" name="ott" value="5")
													label(for="ott5")
														p Газон 6 м. (до 4 т)
														strong 1470 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott6(type="radio" name="ott" value="6")
													label(for="ott6")
														p Газон 6 м. (до 5 т)
														strong 1480 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott7(type="radio" name="ott" value="7")
													label(for="ott7")
														p Манипулятор 6 метров (до 5 т)
														strong 2520 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott8(type="radio" name="ott" value="8")
													label(for="ott8")
														p Манипулятор 6 метров (до 8 т)
														strong 3470 ₽
											.order-transport-type__col
												.order-transport-type-input
													input#ott9(type="radio" name="ott" value="9")
													label(for="ott9")
														p Бортовой 12 метров (20 т)
														strong 3890 ₽
								fieldset(data-fieldset="order-pickup" disabled)
									.order-data-section
										h4.order-data-section__title Выберите пункт самовывоза
										.order-get-methods
											.order-get-methods__col
												.sp-warehouse-card.sp-warehouse-card_order
													input#ware1(type="radio" name="order-warehouse" value="1" checked)
													label.sp-warehouse-card__label(for="ware1")
														.sp-warehouse-card__title
															.sp-warehouse-card__icon
																svg(width="22" height="16")
																	use(xlink:href="#icon-factory")
															h4 База Красных Зорь
														p.sp-warehouse-card__address ул. Красных Зорь, 73
														p.sp-warehouse-card__address Время работы: пн-пт: 8:00 — 17:00 (склад на обеде 12:00 — 12:45), сб, вс — выходной)
														p.sp-warehouse-card__address
															a.sp-warehouse-card__scheme-link(href="#" target="_blank")
																span.icon
																	svg(width="16" height="18")
																		use(xlink:href="#icon-flag")
																span.title Схема проезда
											.order-get-methods__col
												.sp-warehouse-card.sp-warehouse-card_order
													input#ware2(type="radio" name="order-warehouse" value="2")
													label.sp-warehouse-card__label(for="ware2")
														.sp-warehouse-card__title
															.sp-warehouse-card__icon
																svg(width="22" height="16")
																	use(xlink:href="#icon-factory")
															h4 База Станкостроителей
														p.sp-warehouse-card__address Иваново, ул. Станкостроителей, д. 22
														p.sp-warehouse-card__address Время работы: пн-пт: 8:00 — 17:00 (склад на обеде 12:00 — 12:45), сб, вс — выходной)
														p.sp-warehouse-card__address
															a.sp-warehouse-card__scheme-link(href="#" target="_blank")
																span.icon
																	svg(width="16" height="18")
																		use(xlink:href="#icon-flag")
																span.title Схема проезда
							.order-data-section
								h4.order-data-section__title
									div.icon
										svg(width="24" height="31")
											use(xlink:href="#icon-passport")
									span Информация о получателе
								.order-recipient-info
									.order-recipient-info__name
										input.common-input(type="text" name="order-full-name" placeholder="Полное имя по паспорту" required data-floating-label)
										small.order-data-section__small Полные фамилия, имя и отчество могут потребоваться при получении заказа
									.order-recipient-info__contacts(data-recipient-phones)
										.order-recipient-info__contacts-row
											.order-recipient-info__contacts-col
												input.common-input(type="email" name="order-contacts-email" required placeholder="Почта" data-floating-label)
											.order-recipient-info__contacts-col
												input.common-input(type="text" name="order-contacts-phones[]" required placeholder="Телефон" data-floating-label)
											.order-recipient-info__contacts-col
												button.order-recipient-info__add-phone(type="button" data-add-recipient-phone)
													svg(width="12" height="12")
														use(xlink:href="#icon-small-add")
													span Добавить телефон
									.order-recipient-info__contacts.order-recipient-info__contacts_tmpl
										.order-recipient-info__contacts-row(data-recipient-phone-tmpl)
											.order-recipient-info__contacts-col
											.order-recipient-info__contacts-col
												input.common-input(type="text" name="order-contacts-phones[]" required placeholder="Телефон" disabled data-floating-label)

					//- Step 2
					.order-page__step.order-page__step_inactive
						.order-step-heading
							h3.order-step-heading__title #[span.number 2] Заказ с удалённых складов
							.order-step-heading__weight
								svg(width="19" height="20")
									use(xlink:href="#icon-order-weight")
								span вес этого заказа: 7.9856 тонн
						.order-page__step-content

					//- Step 3
					.order-page__step.order-page__step_inactive
						.order-step-heading
							h3.order-step-heading__title #[span.number 3] Товары под заказ
							.order-step-heading__weight
								svg(width="19" height="20")
									use(xlink:href="#icon-order-weight")
								span вес этого заказа: 7.9856 тонн
						.order-page__step-content

					//- Step 4
					.order-page__step
						.order-step-heading
							h3.order-step-heading__title #[span.number 4] Оплата
						.order-page__step-content
							.order-data-section
								.order-get-methods
									.order-get-methods__col
										.get-method-card
											input#paymethod1(type="radio" name="paymethod" value="1" checked)
											label.get-method-card__label(for="paymethod1")
												.get-method-card__title
													.get-method-card__icon
														svg(width="22" height="15")
															use(xlink:href="#icon-pay-cash")
													h4 Наличными
												.get-method-card__info
													p #[span При получении наличными или картой]
									.order-get-methods__col
										.get-method-card
											input#paymethod2(type="radio" name="paymethod" value="2")
											label.get-method-card__label(for="paymethod2")
												.get-method-card__title
													.get-method-card__icon
														svg(width="22" height="18")
															use(xlink:href="#icon-pay-online")
													h4 Онлайн
												.get-method-card__info
													p #[span Картa «Виза», «Мастеркард» или «Мир»]

				aside.order-page__aside
					.order-aside-block
						.order-aside-block-heading
							h4.order-aside-block-heading__title Товары MSG
							h4.order-aside-block-heading__sum 140 300 ₽
						.order-aside-data
							.order-aside-data__row
								.order-aside-data__col
									h5 Товары, 134 шт.
								.order-aside-data__col
									p 32 000 ₽
							.order-aside-data__row
								.order-aside-data__col
									h5 Скидка
								.order-aside-data__col
									p #[strong -990 ₽]
							.order-aside-data__row
								.order-aside-data__col
									h5 Доставка
								.order-aside-data__col
									p Бесплатно
					.order-aside-block
						.order-aside-block-heading
							h4.order-aside-block-heading__title Товары под заказ
							h4.order-aside-block-heading__sum 140 300 ₽
						.order-aside-data
							.order-aside-data__row
								.order-aside-data__col
									h5 Товары, 134 шт.
								.order-aside-data__col
									p 139 000 ₽
							.order-aside-data__row
								.order-aside-data__col
									h5 Доставка
								.order-aside-data__col
									p 300 ₽
					.order-aside-block
						.order-aside-block-heading
							h4.order-aside-block-heading__title Товары к оплате
							h4.order-aside-block-heading__sum 12 345 678 ₽
						.order-aside-data
							h4.order-aside-data__title Склад МСГ
							.order-aside-data__row
								.order-aside-data__col
									h5 Товары, 134 шт.
								.order-aside-data__col
									p 32 000 ₽
							.order-aside-data__row
								.order-aside-data__col
									h5 Скидка
								.order-aside-data__col
									p #[strong -990 ₽]
							.order-aside-data__row
								.order-aside-data__col
									h5 Доставка
								.order-aside-data__col
									p Бесплатно
						.order-aside-data
							h4.order-aside-data__title Удалённый склад
							.order-aside-data__row
								.order-aside-data__col
									h5 Товары, 134 шт.
								.order-aside-data__col
									p 139 000 ₽
							.order-aside-data__row
								.order-aside-data__col
									h5 Доставка
								.order-aside-data__col
									p 300 ₽
						.order-aside-data__buttons
							button.order-aside-data__button(type="button") Оформить на сайте
							button.order-aside-data__button.order-aside-data__button_manager(type="button")
								svg(width="18" height="19")
									use(xlink:href="#icon-manager")
								span Оформить с менеджером
					p.order-aside-note Нажимая «Перейти к оплате», вы соглашаетесь с #[a(href="#") условиями использования] MSG MARKET, а также с условиями акции при предоплате. С подробными условиями доставки можно ознакомиться на странице о #[a(href="#") доставке]
					.order-aside-info
						p #[strong Сообщаем вам, что все цены в счетах и в интернет-магазине фиксируются только на один день, при условии наличия на складе и своевременной оплаты счета на дату его выставления.]
						p Обращаем Ваше внимание, счета неоплаченные в срок, являются недействительными и поставки будут осуществляться на новых условиях на день отгрузки.
						p Срок возврата товара надлежащего качества составляет 14 дней с момента получения товара.
						p Возврат переведённых средств, производится на ваш банковский счёт в течение 5—30 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).
	+footer