extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Product page

block mainContent

	.new-header
		.new-header__inner
			.new-header-top
				.new-header-top__part
					.new-header-top__logo
						a(href="#")
							svg(width="180" height="20")
								use(xlink:href="#icon-msg-market-logo--white")
					nav.new-header-menu
						ul.new-header-menu__list
							li.new-header-menu__item: a(href="#") О компании 
							li.new-header-menu__item: a(href="#") Спецтехника
							li.new-header-menu__item: a(href="#") Поставщикам
							li.new-header-menu__item: a(href="#") Покупателям
							li.new-header-menu__item: a(href="#") Контакты
							li.new-header-menu__item: a(href="#") Блог 
							li.new-header-menu__item: a(href="#") Калькуляторы
				.new-header-top__part
					.new-header-top__phone
						a(href="+74932930330") 8 4932 930-330
					.new-header-top__user
						a(href="#")
							svg(width="24" height="24")
								use(xlink:href="#icon-user")
			.new-header-bottom
				.new-header-bottom__part.new-header-bottom__part--main
					.new-header-bottom__catalog-button
						button.msg-button
							svg(width="24" height="24")
								use(xlink:href="#icon-catalog-button-dark")
							span Каталог
					.new-header-bottom__search-form
						form.search-form(action="./" method="post")
							input.search-form__input(type="text" name="s" placeholder="Сетка-рабица ПВХ зел. 1,5м*10м")
							button.search-form__submit.msg-button(type="submit") 
								span Найти
				.new-header-bottom__part.new-header-bottom__part--cart
					.new-header-cart
						a.new-header-cart__sum(href="#") 337 703.45 ₽
						.new-header-cart__icon
							svg(width="24" height="24")
								use(xlink:href="#icon-shopping-cart")
							small 12

	.main-content
		.main-content__inner
			.section-head
				nav.new-breadcrumbs
					ul.new-breadcrumbs__list
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Главная
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Каталог
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Металлопрокат
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Профнастил
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Профнастил C10
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Гипсокартон
			.single-product
				.single-product__col.single-product__col--content
					.single-product-gallery(data-spgallery)
						.single-product-gallery__thumbs(data-spgallery-thumbs)
							a.single-product-gallery__thumb.single-product-gallery__thumb--active(href="#" data-load-image="./assets/img/full-product-sample.jpg")
							a.single-product-gallery__thumb(href="#" data-load-image="./assets/img/full-product-sample.jpg")
							a.single-product-gallery__thumb(href="#" data-load-image="./assets/img/full-product-sample.jpg")
						.single-product-gallery__full-image(data-spgallery-full-image)
							img(src="./assets/img/full-product-sample.jpg", alt="")
				//- .single-product__scroll
				//- 	.single-product__col.single-product__col_image
				//- 		img(src="./assets/img/single-sheeting.jpg", alt="")
				//- 	.single-product__col.single-product__col_info
				//- 		h4 Описание
				//- 		p Кислород — это бесцветный, не имеющий ни запаха ни вкуса газ. Он немного тяжелее воздуха, малорастворим в воде. В воздухе его объем составляет 21% к общему составу. При охлаждении до минус 183 °С кислород превращается в жидкость голубого цвета, а при минус 219 °С переходит в твердое состояние. При испарении одного литра жидкого кислорода образуется около 840 литров газообразного кислорода. Молярная масса кислорода равна 32 г/моль. Молярная масса кислорода, является важнейшей его характеристикой. Если мы знаем молярную массу вещества, то всегда сможем произвести расчет формул для химических реакций, физических процессов, что нужно для производственных нужд. #[strong Внешний вид товара и изображение на сайте могут отличаться. За дополнительной информацией обращайтесь к менеджерам.]
				//- 		h4 Характеристики
				//- 		.single-product-specs
				//- 			.single-product-specs__row
				//- 				.single-product-specs__col
				//- 					h5 Страна
				//- 				.single-product-specs__col.single-product-specs__col_value
				//- 					h5 Россия
				//- 			.single-product-specs__row
				//- 				.single-product-specs__col
				//- 					h5 Сертификат
				//- 				.single-product-specs__col.single-product-specs__col_value
				//- 					h5 ГОСТ 5583-78
				//- 			.single-product-specs__row
				//- 				.single-product-specs__col
				//- 					h5 Объём
				//- 				.single-product-specs__col.single-product-specs__col_value
				//- 					h5 50 л

				aside.single-product__col.single-product__col--aside
					form(action="./" method="post")
						.product-aside-block
							.sp-select-size
								h4.sp-select-size__title Размер
								.sp-select-size__inputs
									input#size01(type="radio" name="selectsize" value="8")
									label(for="size01") 8 м
									input#size02(type="radio" name="selectsize" value="8.3")
									label(for="size02") 8.3 м
									input#size03(type="radio" name="selectsize" value="12")
									label(for="size03") 12 м
									input#size04(type="radio" name="selectsize" value="18")
									label(for="size04") 18 м
									input#size05(type="radio" name="selectsize" value="22" checked)
									label(for="size05") 22 м
							.sp-select-qty
								input.common-input(type="text" name="product-qty")
								select.common-select(name="qty-type")
									option(value="ton" selected) Тонны
									option(value="kg") Килограммы
							.sp-available
								span.sp-available__badge В наличии – 4565 шт
								small.sp-available__small Остаток (16 шт) можно заказать без оплаты
							.sp-select-sell-type
								input#selltype01(type="radio" name="selltype" value="1" checked)
								label(for="selltype01") Розница
								input#selltype02(type="radio" name="selltype" value="2")
								label(for="selltype02") М. опт
								input#selltype03(type="radio" name="selltype" value="3")
								label(for="selltype03") Опт
							.sp-total-prices
								.sp-total-prices__row
									.sp-total-prices__col
										p За тонну
									.sp-total-prices__col
										p 82 400 ₽
								.sp-total-prices__row
									.sp-total-prices__col
										p За метр
									.sp-total-prices__col
										p 21.7 ₽
								.sp-total-prices__row.sp-total-prices__row_last
									.sp-total-prices__col
										p Сумма без доставки
									.sp-total-prices__col
										p 130 ₽
							.buttons-group
								button.standard-button.standard-button_bigger(type="button")
									span.standard-button__icon
										svg(width="16" height="16")
											use(xlink:href="#icon-lightning")
									span.standard-button__title В один клик
								button.standard-button.standard-button_bigger.standard-button_grow(type="button")
									span.standard-button__icon
										svg(width="16" height="16")
											use(xlink:href="#icon-cart")
							small.product-aside-block__note Не забудьте выбрать склад, от этого может зависеть цена доставки.

						.product-aside-block
							h4.product-aside-block__title Склад отгрузки
							.sp-warehouses
								.sp-warehouse-card
									input#ware1(type="radio" name="warehouse" value="1" checked)
									label.sp-warehouse-card__label(for="ware1")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Красных Зорь
										p.sp-warehouse-card__address ул. Красных Зорь, 73
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p #[strong Наличие: 1000 штук, 2.4455 тонн]
											p В резерве: 400 штук, 1.4 тонн
											p Ожидается: 56 штук, 0.566 тонн
								.sp-warehouse-card
									input#ware2(type="radio" name="warehouse" value="2")
									label.sp-warehouse-card__label(for="ware2")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Станкостроителей
										p.sp-warehouse-card__address Иваново, ул. Станкостроителей, д. 22
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p Склад: 430 штук, 1.4455 тонн
							h4.product-aside-block__title Удалённый склад
							.sp-warehouses
								.sp-warehouse-card
									input#ware3(type="radio" name="warehouse" value="3")
									label.sp-warehouse-card__label(for="ware3")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Лежневская
										p.sp-warehouse-card__address Иваново, ул. Лежневская, д. 143
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p Склад: 430 штук, 1.4455 тонн




			.products-grid
				h3.color-title.color-title_pink #[span С этим товаром часто покупают]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="1") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="1")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="3") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="3")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="4") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="4")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="5") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="5")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

			.products-grid
				h3.color-title.color-title_yellow #[span Товары партнёров]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="12121") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="12121")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="123") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="123")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="124") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="124")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="125") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="125")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

	+footer