extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Gas (product)

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Труба проф. 10x10x1,0 х/к 3м
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Каталог
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Металлопрокат
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Трубы
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Труба профильная


	.main-content
		.main-content__inner
			.single-product
				.single-product__scroll
					.single-product__col.single-product__col_image
						img(src="./assets/img/single-gas.jpg", alt="")
					.single-product__col.single-product__col_info
						h4 Описание
						p Кислород — это бесцветный, не имеющий ни запаха ни вкуса газ. Он немного тяжелее воздуха, малорастворим в воде. В воздухе его объем составляет 21% к общему составу. При охлаждении до минус 183 °С кислород превращается в жидкость голубого цвета, а при минус 219 °С переходит в твердое состояние. При испарении одного литра жидкого кислорода образуется около 840 литров газообразного кислорода. Молярная масса кислорода равна 32 г/моль. Молярная масса кислорода, является важнейшей его характеристикой. Если мы знаем молярную массу вещества, то всегда сможем произвести расчет формул для химических реакций, физических процессов, что нужно для производственных нужд. #[strong Внешний вид товара и изображение на сайте могут отличаться. За дополнительной информацией обращайтесь к менеджерам.]
						h4 Характеристики
						.single-product-specs
							.single-product-specs__row
								.single-product-specs__col
									h5 Страна
								.single-product-specs__col.single-product-specs__col_value
									h5 Россия
							.single-product-specs__row
								.single-product-specs__col
									h5 Сертификат
								.single-product-specs__col.single-product-specs__col_value
									h5 ГОСТ 5583-78
							.single-product-specs__row
								.single-product-specs__col
									h5 Объём
								.single-product-specs__col.single-product-specs__col_value
									h5 50 л

				aside.single-product__col.single-product__col_aside
					form.product-aside-block(action="./" method="post")
						h3.product-partner-title
							.product-partner-title__icon
								svg(width="33" height="33")
									use(xlink:href="#icon-partner-product")
							span.product-partner-title__text Товар партнёра: ООО «Газтех»
						.product-aside-block__spec-row.product-aside-block__spec-row_grey-text
							.data-col
								h5 Цена у партнёра
							.data-col.data-col_last
								h5 #[span.old 4700.00] ₽
						.product-aside-block__spec-row
							.data-col
								h5 Цена с нашей скидкой
							.data-col.data-col_last
								h5 3436.00 ₽
						.product-aside-block__spec-row
							.data-col
								small Количество
								input.product-aside-block__qty-input.common-input(type="text" name="qty")
							.data-col.data-col_last
								h5 3436.00 ₽
						.buttons-group
							button.standard-button.standard-button_bigger(type="button")
								span.standard-button__icon
									svg(width="16" height="16")
										use(xlink:href="#icon-lightning")
								span.standard-button__title В один клик
							button.standard-button.standard-button_bigger.standard-button_grow(type="button")
								span.standard-button__icon
									svg(width="16" height="16")
										use(xlink:href="#icon-cart")

			.products-grid
				h3.color-title.color-title_pink #[span С этим товаром часто покупают]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="1") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="1")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="3") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="3")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="4") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="4")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="5") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="5")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

			.products-grid
				h3.color-title.color-title_yellow #[span Товары партнёров]
				.products-grid__cols
					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="12121") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="12121")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-03.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="2") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="2")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-04.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="123") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="123")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-01.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 82 040 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-02.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="124") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="124")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

					.products-grid__col
						.product-card
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											small Старая цена
										.product-card__price-col.product-card__price-col_grey
											strong.old-price #[span 4700] ₽
									.product-card__price-row
										.product-card__price-col
											small Новая цена
										.product-card__price-col
											strong.new-price #[span 3700] ₽
								.product-card__buttons.buttons-group
									button.standard-button.standard-button_grow(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-lightning")
										span.standard-button__title В один клик
									button.standard-button(type="button")
										span.standard-button__icon
											svg(width="16" height="16")
												use(xlink:href="#icon-cart")

					.products-grid__col
						.product-card.product-card_border
							a.product-card__overlay-link(href="#")
							.product-card__image
								img(src="./assets/img/product-06.jpg", alt="")
								.product-card__delivery-badge
									svg(width="33" height="33")
										use(xlink:href="#icon-delivery-badge")
							h4.product-card__title Арматура А500С ф 06 рифлёная
							.product-card__details.product-card__details_grey
								button.product-card__sizes-button(data-pcard-show-sizes="125") Все размеры
								.product-card__hidden-sizes(data-hidden-sizes="125")
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 2,0 м
											.size-row__col
												small от 3 000 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 450.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 12,0 м
											.size-row__col
												small от 1 230 040 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 20.14 ₽ метр
									.product-card__hidden-size
										.size-row
											.size-row__col
												strong 34,0 м
											.size-row__col
												small от 122 060 ₽ тонна
										.size-row
											.size-row__col
											.size-row__col
												small.grey от 234.14 ₽ метр
								.product-card__qty
									.product-card__progress-line
										span(style="width: 80%")
									p Склад: 1000 штук, 2.4455 тонн
								.product-card__prices
									.product-card__price-row
										.product-card__price-col
											strong от 24 240 ₽
										.product-card__price-col
											small тонну
									.product-card__price-row
										.product-card__price-col.product-card__price-col_grey
											strong от 20.14 ₽
										.product-card__price-col.product-card__price-col_grey
											small метр

	+footer