extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Product page

block mainContent

	+header

	.main-content
		.main-content__inner
			.section-head
				nav.new-breadcrumbs
					ul.new-breadcrumbs__list
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Главная
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Каталог
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Металлопрокат
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Профнастил
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Профнастил C10
						li.new-breadcrumbs__item
							a.new-breadcrumbs__link(href="#") Гипсокартон
			.single-product
				.single-product__col.single-product__col--content
					.single-product-gallery(data-spgallery)
						.single-product-gallery__thumbs(data-spgallery-thumbs)
							a.single-product-gallery__thumb.single-product-gallery__thumb--active(href="#" data-load-image="./assets/img/full-product-sample.jpg")
								img(src="./assets/img/full-product-sample.jpg", alt="")
							a.single-product-gallery__thumb(href="#" data-load-image="./assets/img/new-catalog-product-02.jpg")
								img(src="./assets/img/new-catalog-product-02.jpg", alt="")
							a.single-product-gallery__thumb(href="#" data-load-image="./assets/img/new-catalog-product-03.jpg")
								img(src="./assets/img/new-catalog-product-03.jpg", alt="")
						.single-product-gallery__full-image(data-spgallery-full-image)
							img(src="./assets/img/full-product-sample.jpg", alt="")
					.single-product__condition-warning
						p Внимание! Цвет, характеристика и комплектация товаров, указанные на сайте, могут отличаться от реальных.
					nav.single-product-tabs
						ul.single-product-tabs__list
							li.single-product-tabs__item.single-product-tabs__item--active
								a.single-product-tabs__link(href="#product-specs") Характеристики
							li.single-product-tabs__item
								a.single-product-tabs__link(href="#product-reviews") Отзывы
							li.single-product-tabs__item
								a.single-product-tabs__link(href="#product-buy") С этим товаром покупают

					.single-product-info-section#product-specs
						h3.single-product-info-section__title Характеристика
						.single-product-specs
							.single-product-specs__row
								.single-product-specs__title
									p Огнестойкий
								.single-product-specs__dots
								.single-product-specs__value
									p Нет
							.single-product-specs__row
								.single-product-specs__title
									p Страна производства
								.single-product-specs__dots
								.single-product-specs__value
									p Россия
							.single-product-specs__row
								.single-product-specs__title
									p Длина (см)
								.single-product-specs__dots
								.single-product-specs__value
									p 150
							.single-product-specs__row
								.single-product-specs__title
									p Ширина (см)
								.single-product-specs__dots
								.single-product-specs__value
									p 60
							.single-product-specs__row
								.single-product-specs__title
									p Вес (кг)
								.single-product-specs__dots
								.single-product-specs__value
									p 8.5
							.single-product-specs__row
								.single-product-specs__title
									p Толщина (мм)
								.single-product-specs__dots
								.single-product-specs__value
									p 12.5
							.single-product-specs__row
								.single-product-specs__title
									p Площадь покрытия продуктом (м²)
								.single-product-specs__dots
								.single-product-specs__value
									p 0.9
							.single-product-specs__row
								.single-product-specs__title
									p Влагостойкий продукт (для влажных помещений)
								.single-product-specs__dots
								.single-product-specs__value
									p Да
					.single-product-info-section#product-reviews
						h3.single-product-info-section__title Отзывов ещё нет
						.single-product-reviews
							.single-product-reviews-head
								.single-product-reviews-head__main
									strong.single-product-reviews-head__value 0
									.single-product-reviews-head__stars
										.single-product-reviews-head__star.single-product-reviews-head__star--filled
										.single-product-reviews-head__star.single-product-reviews-head__star--filled
										.single-product-reviews-head__star.single-product-reviews-head__star--filled
										.single-product-reviews-head__star.single-product-reviews-head__star--filled
										.single-product-reviews-head__star
								small.single-product-reviews-head__amount Отзывов нет
								a.msg-button(href="./product-full-review.html") #[span Оставить отзыв]

				aside.single-product__col.single-product__col--aside
					.single-product__heading
						p.single-product__code Код товара: 00000018504000003591
						h2.single-product__title Гипсокартон влагостойкий 12.5 мм Knauf 1500х600 0.9 м²
						.single-product-rstats
							.single-product-rstats__stars
								.single-product-rstats__star.single-product-rstats__star--filled
								.single-product-rstats__star.single-product-rstats__star--filled
								.single-product-rstats__star.single-product-rstats__star--filled
								.single-product-rstats__star.single-product-rstats__star--filled
								.single-product-rstats__star
							.single-product-rstats__reviews
								p 13 отзывов
					form(action="./" method="post")
						.product-aside-block
							.sp-select-size
								h4.sp-select-size__title Размер
								.sp-select-size__inputs
									input#size01(type="radio" name="selectsize" value="8")
									label(for="size01") 8 м
									input#size02(type="radio" name="selectsize" value="8.3")
									label(for="size02") 8.3 м
									input#size03(type="radio" name="selectsize" value="12")
									label(for="size03") 12 м
									input#size04(type="radio" name="selectsize" value="18")
									label(for="size04") 18 м
									input#size05(type="radio" name="selectsize" value="22" checked)
									label(for="size05") 22 м
							.sp-select-qty
								input.common-input(type="text" name="product-qty")
								select.common-select(name="qty-type")
									option(value="ton" selected) Тонны
									option(value="kg") Килограммы
							.sp-available
								span.sp-available__badge В наличии – 4565 шт
								small.sp-available__small Остаток (16 шт) можно заказать без оплаты
							.sp-select-sell-type
								input#selltype01(type="radio" name="selltype" value="1" checked)
								label(for="selltype01") Розница
								input#selltype02(type="radio" name="selltype" value="2")
								label(for="selltype02") М. опт
								input#selltype03(type="radio" name="selltype" value="3")
								label(for="selltype03") Опт
							a.sp-small-wholesale-link(href="#") Как получить мелкооптовую цену?
							.sp-total-prices
								.sp-total-prices__row
									.sp-total-prices__col
										p За тонну
									.sp-total-prices__col
										p 82 400 ₽
								.sp-total-prices__row
									.sp-total-prices__col
										p За метр
									.sp-total-prices__col
										p 21.7 ₽
								.sp-total-prices__row.sp-total-prices__row_last
									.sp-total-prices__col
										p Сумма без доставки
									.sp-total-prices__col
										p 130 ₽
							.buttons-group
								button.msg-button.msg-button--grey(type="button")
									span Купить в 1 клик
								button.msg-button(type="button")
									span В корзину
							.product-aside-block__note 
								div.icon
									svg(width="24" height="24")
										use(xlink:href="#icon-warning-cube")
								p Не забудьте выбрать склад, от этого может зависеть цена доставки.

						.product-aside-block
							h4.product-aside-block__title Склад отгрузки
							.sp-warehouses
								.sp-warehouse-card
									input#ware1(type="radio" name="warehouse" value="1" checked)
									label.sp-warehouse-card__label(for="ware1")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Красных Зорь
										p.sp-warehouse-card__address ул. Красных Зорь, 73
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p #[strong Наличие: 1000 штук, 2.4455 тонн]
											p В резерве: 400 штук, 1.4 тонн
											p Ожидается: 56 штук, 0.566 тонн
								.sp-warehouse-card
									input#ware2(type="radio" name="warehouse" value="2")
									label.sp-warehouse-card__label(for="ware2")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Станкостроителей
										p.sp-warehouse-card__address Иваново, ул. Станкостроителей, д. 22
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p Склад: 430 штук, 1.4455 тонн
							h4.product-aside-block__title Удалённый склад
							.sp-warehouses
								.sp-warehouse-card
									input#ware3(type="radio" name="warehouse" value="3")
									label.sp-warehouse-card__label(for="ware3")
										.sp-warehouse-card__title
											.sp-warehouse-card__icon
												svg(width="22" height="16")
													use(xlink:href="#icon-factory")
											h4 База Лежневская
										p.sp-warehouse-card__address Иваново, ул. Лежневская, д. 143
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%; background-color: #22A930; border-color: #22A930")
											p Склад: 430 штук, 1.4455 тонн

			.product-cards-carousel#product-buy(data-cards-carousel)
				h3.product-cards-carousel__title С этим товаром покупают
				.product-cards-carousel__shaft(data-cards-carousel-shaft)
					.new-catalog-grid__col
						.new-catalog-card
							.new-catalog-card__top
								.new-catalog-card__image
									img(src="./assets/img/new-catalog-product-01.jpg", alt="")
								.new-catalog-card__info
									a.new-catalog-card__title(href="#") Перфоратор SDS-plus Makita HR 2470, 780 Вт, 2.7 Дж
									.new-catalog-card-amount
										.new-catalog-card-amount__progress
											div(style="width: 80%; background-color: #22A930")
										.new-catalog-card-amount__info
											p Остаток: 1000 штук, 2.4455 тонн
							.new-catalog-card__bottom
								.new-catalog-card__prices
									p #[strong от 82 040] ₽/тон
									p #[strong от 20.14] ₽/метр
								.new-catalog-card__actions
									.new-catalog-card__action
										button.msg-button.msg-button--grey #[span Купить в 1 клик]
									.new-catalog-card__action
										button.msg-button #[span В корзину]
					.new-catalog-grid__col
						.new-catalog-card
							.new-catalog-card__top
								.new-catalog-card__image
									img(src="./assets/img/new-catalog-product-02.jpg", alt="")
								.new-catalog-card__info
									a.new-catalog-card__title(href="#") Перфоратор SDS-plus Makita HR 2470, 780 Вт, 2.7 Дж Перфоратор SDS-plus Makita HR 2470, 780 Вт, 2.7 Дж Перфоратор SDS-plus Makita HR 2470, 780 Вт, 2.7 Дж Перфоратор SDS-plus Makita HR 2470, 780 Вт, 2.7 Дж 
									.new-catalog-card-amount
										.new-catalog-card-amount__progress
											div(style="width: 80%; background-color: #22A930")
										.new-catalog-card-amount__info
											p Остаток: 1000 штук, 2.4455 тонн
							.new-catalog-card__bottom
								.new-catalog-card__prices
									p #[strong от 82 040] ₽/тон
									p #[strong от 20.14] ₽/метр
								.new-catalog-card__actions
									.new-catalog-card__action
										button.msg-button.msg-button--grey #[span Купить в 1 клик]
									.new-catalog-card__action
										button.msg-button #[span В корзину]
					.new-catalog-grid__col
						.new-catalog-card
							.new-catalog-card__top
								.new-catalog-card__image
									img(src="./assets/img/new-catalog-product-04.jpg", alt="")
								.new-catalog-card__info
									a.new-catalog-card__title(href="#") Циркулярная пила Stanley Fatmax FME301, 1650 Вт, 190 мм
									.new-catalog-card-amount
										.new-catalog-card-amount__progress
											div(style="width: 80%; background-color: #22A930")
										.new-catalog-card-amount__info
											p Остаток: 1000 штук, 2.4455 тонн
							.new-catalog-card__bottom
								.new-catalog-card__prices
									p #[strong по запросу]
								.new-catalog-card__actions
									.new-catalog-card__action
										button.msg-button.msg-button--grey #[span Купить в 1 клик]
					.new-catalog-grid__col
						.new-catalog-card
							.new-catalog-card__top
								.new-catalog-card__image
									img(src="./assets/img/new-catalog-product-01.jpg", alt="")
								.new-catalog-card__info
									a.new-catalog-card__title(href="#") Циркулярная пила Stanley Fatmax FME301, 1650 Вт, 190 мм
									.new-catalog-card-amount
										.new-catalog-card-amount__progress
											div(style="width: 80%; background-color: #22A930")
										.new-catalog-card-amount__info
											p Остаток: 1000 штук, 2.4455 тонн
							.new-catalog-card__bottom
								.new-catalog-card__prices
									p #[strong по запросу]
								.new-catalog-card__actions
									.new-catalog-card__action
										button.msg-button.msg-button--grey #[span Купить в 1 клик]
					.new-catalog-grid__col
						.new-catalog-card
							.new-catalog-card__top
								.new-catalog-card__image
									img(src="./assets/img/new-catalog-product-02.jpg", alt="")
								.new-catalog-card__info
									a.new-catalog-card__title(href="#") Циркулярная пила Stanley Fatmax FME301, 1650 Вт, 190 мм
									.new-catalog-card-amount
										.new-catalog-card-amount__progress
											div(style="width: 80%; background-color: #22A930")
										.new-catalog-card-amount__info
											p Остаток: 1000 штук, 2.4455 тонн
							.new-catalog-card__bottom
								.new-catalog-card__prices
									p #[strong по запросу]
								.new-catalog-card__actions
									.new-catalog-card__action
										button.msg-button.msg-button--grey #[span Купить в 1 клик]
				button.product-cards-carousel__arrow.product-cards-carousel__arrow--prev(data-cards-carousel-prev)
					svg(width="7" height="12")
						use(xlink:href="#icon-paging-prev")
				button.product-cards-carousel__arrow.product-cards-carousel__arrow--next(data-cards-carousel-next)
					svg(width="7" height="12")
						use(xlink:href="#icon-paging-next")
	+footer