extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Profile pipe (list)

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Труба проф. 10x10x1,0 х/к 3м
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Каталог
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Металлопрокат
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Трубы
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Труба профильная

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					small.simple-catalog-aside__small-title Тип
					ul.simple-catalog-links
						li.simple-catalog-links__item.simple-catalog-links__item_selected
							strong Профильная
						li.simple-catalog-links__item: a(href="#") ВГП
						li.simple-catalog-links__item: a(href="#") Электросварная
						li.simple-catalog-links__item: a(href="#") Оцинкованная
						li.simple-catalog-links__item: a(href="#") Бесшовная
						li.simple-catalog-links__item: a(href="#") В изоляции
					form.filter-form(action="./" method="post")
						.filter-form-block
							h4.filter-form-block__title Диаметр трубы
							.filter-form-block__cols
								.input-col
									select.common-select(name="diameterfrom")
										option(value="От, см" selected disabled) От, см
										option(value="15") 15
										option(value="20") 20
										option(value="25") 25
								.input-col
									select.common-select(name="diameterto")
										option(value="До, см" selected disabled) До, см
										option(value="15") 15
										option(value="20") 20
										option(value="25") 25
						.filter-form-block
							h4.filter-form-block__title Размер трубы
							select.common-select(name="pipesize")
								option(value="Выберите размер" selected disabled) Выберите размер
								option(value="15") 15
								option(value="20") 20
								option(value="25") 25
						.filter-form-block
							h4.filter-form-block__title Цена, ₽
							.filter-form-block__cols
								.input-col
									select.common-select(name="pricefrom")
										option(value="От" selected disabled) От
										option(value="15000") 15 000
										option(value="20000") 20 000
										option(value="25000") 25 000
								.input-col
									select.common-select(name="priceto")
										option(value="До" selected disabled) До
										option(value="15000") 15 000
										option(value="20000") 20 000
										option(value="25000") 25 000
						.filter-form-block
							h4.filter-form-block__title Цвет
							.filter-colors
								.filter-colors__item
									.filter-colors__color
										input#colorblack(type="checkbox" name="colors[]" value="black")
										label(for="colorblack" style="background-color: #2b150f")
								.filter-colors__item
									.filter-colors__color
										input#coloryellow(type="checkbox" name="colors[]" value="yellow")
										label(for="coloryellow" style="background-color: #fed742")
								.filter-colors__item
									.filter-colors__color
										input#colorsky(type="checkbox" name="colors[]" value="sky")
										label(for="colorsky" style="background-color: #a1c5de")
								.filter-colors__item
									.filter-colors__color
										input#colorred(type="checkbox" name="colors[]" value="red")
										label(for="colorred" style="background-color: #af0b3c")
								.filter-colors__item
									.filter-colors__color
										input#colordarkblue(type="checkbox" name="colors[]" value="darkblue")
										label(for="colordarkblue" style="background-color: #042182")
								.filter-colors__item
									.filter-colors__color
										input#colororange(type="checkbox" name="colors[]" value="orange")
										label(for="colororange" style="background-color: #e54225")
								.filter-colors__item
									.filter-colors__color
										input#colorlime(type="checkbox" name="colors[]" value="lime")
										label(for="colorlime" style="background-color: #c4dda9")
								.filter-colors__item
									.filter-colors__color
										input#colorgreen(type="checkbox" name="colors[]" value="green")
										label(for="colorgreen" style="background-color: #137152")
								.filter-colors__item
									.filter-colors__color
										input#colorwhite(type="checkbox" name="colors[]" value="white")
										label(for="colorwhite" style="background-color: #fff")
								.filter-colors__item
									button.filter-colors__more(type="button") ещё
						.filter-form-block
							.filter-icon-checkbox
								input#ptype1(type="checkbox" name="producttype[]" value="remote")
								label.filter-icon-checkbox__label(for="ptype1")
									.filter-icon-checkbox__icon
										svg(width="21" height="21")
											use(xlink:href="#icon-delivery-badge")
									span.filter-icon-checkbox__title Товары с удалённого склада
							.filter-icon-checkbox
								input#ptype2(type="checkbox" name="producttype[]" value="partners")
								label.filter-icon-checkbox__label(for="ptype2")
									.filter-icon-checkbox__icon
										svg(width="21" height="21")
											use(xlink:href="#icon-delivery-badge")
									span.filter-icon-checkbox__title Товары партнёров
							.filter-icon-checkbox
								input#ptype3(type="checkbox" name="producttype" value="available")
								label.filter-icon-checkbox__label(for="ptype3")
									.filter-icon-checkbox__icon
										svg(width="18" height="18")
											use(xlink:href="#icon-just-box")
									span.filter-icon-checkbox__title Есть в наличии

				.simple-catalog__content
					.simple-catalog__cat-type
						a.catalog-type-button(href="./profile-pipe-grid.html")
							svg(width="17" height="17")
								use(xlink:href="#icon-catalog-grid")
						a.catalog-type-button.catalog-type-button_active(href="#")
							svg(width="17" height="17")
								use(xlink:href="#icon-catalog-list")
					.pcatalog-list
						.pcatalog-list-item
							.pcatalog-list-item__content(data-toggle-cside-panel)
								.pcatalog-list-item__main
									h4.pcatalog-list-item__title Труба проф. 10 ×10 ×1,0 х/к
									.pcatalog-list-item__qty
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%")
											p Склад: 1000 штук, 2.4455 тонн
								.pcatalog-list-item__prices
									.product-card__prices
										.product-card__price-row
											.product-card__price-col
												strong от 82 040 ₽
											.product-card__price-col.product-card__price-col_grey
												small за тонну
										.product-card__price-row
											.product-card__price-col
												strong от 20.14 ₽
											.product-card__price-col.product-card__price-col_grey
												small за метр

						.pcatalog-list-item.pcatalog-list-item_has-hidden(data-pcatalog-list-item)
							.pcatalog-list-item__content(data-pcatalog-list-expand)
								.pcatalog-list-item__main
									h4.pcatalog-list-item__title Труба проф. 10 ×10 ×1,0 х/к
									.pcatalog-list-item__qty
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%")
											p Склад: 1000 штук, 2.4455 тонн
								.pcatalog-list-item__prices
									.product-card__prices
										.product-card__price-row
											.product-card__price-col
												strong от 82 040 ₽
											.product-card__price-col.product-card__price-col_grey
												small за тонну
										.product-card__price-row
											.product-card__price-col
												strong от 20.14 ₽
											.product-card__price-col.product-card__price-col_grey
												small за метр
							.pcatalog-list-item__hidden(data-hidden-details)
								.pcatalog-list-item__content(data-toggle-cside-panel)
									.pcatalog-list-item__main
										h4.pcatalog-list-item__small-size #[strong 4] см
										.pcatalog-list-item__qty
											.product-card__qty
												.product-card__progress-line
													span(style="width: 80%")
												p Склад: 1000 штук, 2.4455 тонн
									.pcatalog-list-item__prices
										.product-card__prices
											.product-card__price-row
												.product-card__price-col
													strong от 82 040 ₽
												.product-card__price-col.product-card__price-col_grey
													small за тонну
											.product-card__price-row
												.product-card__price-col
													strong от 20.14 ₽
												.product-card__price-col.product-card__price-col_grey
													small за метр
								.pcatalog-list-item__content(data-toggle-cside-panel)
									.pcatalog-list-item__main
										h4.pcatalog-list-item__small-size #[strong 8] см
										.pcatalog-list-item__qty
											.product-card__qty
												.product-card__progress-line
													span(style="width: 80%")
												p Склад: 1000 штук, 2.4455 тонн
									.pcatalog-list-item__prices
										.product-card__prices
											.product-card__price-row
												.product-card__price-col
													strong от 82 040 ₽
												.product-card__price-col.product-card__price-col_grey
													small за тонну
											.product-card__price-row
												.product-card__price-col
													strong от 20.14 ₽
												.product-card__price-col.product-card__price-col_grey
													small за метр
								.pcatalog-list-item__content(data-toggle-cside-panel)
									.pcatalog-list-item__main
										h4.pcatalog-list-item__small-size #[strong 10] см
										.pcatalog-list-item__qty
											.product-card__qty
												.product-card__progress-line
													span(style="width: 80%")
												p Склад: 1000 штук, 2.4455 тонн
									.pcatalog-list-item__prices
										.product-card__prices
											.product-card__price-row
												.product-card__price-col
													strong от 82 040 ₽
												.product-card__price-col.product-card__price-col_grey
													small за тонну
											.product-card__price-row
												.product-card__price-col
													strong от 20.14 ₽
												.product-card__price-col.product-card__price-col_grey
													small за метр
								.pcatalog-list-item__content(data-toggle-cside-panel)
									.pcatalog-list-item__main
										h4.pcatalog-list-item__small-size #[strong 12] см
										.pcatalog-list-item__qty
											.product-card__qty
												.product-card__progress-line
													span(style="width: 80%")
												p Склад: 1000 штук, 2.4455 тонн
									.pcatalog-list-item__prices
										.product-card__prices
											.product-card__price-row
												.product-card__price-col
													strong от 82 040 ₽
												.product-card__price-col.product-card__price-col_grey
													small за тонну
											.product-card__price-row
												.product-card__price-col
													strong от 20.14 ₽
												.product-card__price-col.product-card__price-col_grey
													small за метр
								.pcatalog-list-item__content(data-toggle-cside-panel)
									.pcatalog-list-item__main
										h4.pcatalog-list-item__small-size #[strong 14] см
										.pcatalog-list-item__qty
											.product-card__qty
												.product-card__progress-line
													span(style="width: 80%")
												p Склад: 1000 штук, 2.4455 тонн
									.pcatalog-list-item__prices
										.product-card__prices
											.product-card__price-row
												.product-card__price-col
													strong от 82 040 ₽
												.product-card__price-col.product-card__price-col_grey
													small за тонну
											.product-card__price-row
												.product-card__price-col
													strong от 20.14 ₽
												.product-card__price-col.product-card__price-col_grey
													small за метр

						.pcatalog-list-item
							.pcatalog-list-item__content(data-toggle-cside-panel)
								.pcatalog-list-item__main
									h4.pcatalog-list-item__title Труба проф. 10 ×10 ×1,0 х/к
									.pcatalog-list-item__qty
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%")
											p Склад: 1000 штук, 2.4455 тонн
								.pcatalog-list-item__prices
									.product-card__prices
										.product-card__price-row
											.product-card__price-col
												strong от 82 040 ₽
											.product-card__price-col.product-card__price-col_grey
												small за тонну
										.product-card__price-row
											.product-card__price-col
												strong от 20.14 ₽
											.product-card__price-col.product-card__price-col_grey
												small за метр

						.pcatalog-list-item
							.pcatalog-list-item__content(data-toggle-cside-panel)
								.pcatalog-list-item__main
									h4.pcatalog-list-item__title Труба проф. 10 ×10 ×1,0 х/к
									.pcatalog-list-item__qty
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%")
											p Склад: 1000 штук, 2.4455 тонн
								.pcatalog-list-item__prices
									.product-card__prices
										.product-card__price-row
											.product-card__price-col
												strong от 82 040 ₽
											.product-card__price-col.product-card__price-col_grey
												small за тонну
										.product-card__price-row
											.product-card__price-col
												strong от 20.14 ₽
											.product-card__price-col.product-card__price-col_grey
												small за метр

						.pcatalog-list-item
							.pcatalog-list-item__content(data-toggle-cside-panel)
								.pcatalog-list-item__main
									h4.pcatalog-list-item__title Труба проф. 10 ×10 ×1,0 х/к
									.pcatalog-list-item__qty
										.product-card__qty
											.product-card__progress-line
												span(style="width: 80%")
											p Склад: 1000 штук, 2.4455 тонн
								.pcatalog-list-item__prices
									.product-card__prices
										.product-card__price-row
											.product-card__price-col
												strong от 82 040 ₽
											.product-card__price-col.product-card__price-col_grey
												small за тонну
										.product-card__price-row
											.product-card__price-col
												strong от 20.14 ₽
											.product-card__price-col.product-card__price-col_grey
												small за метр

	.catalog-side-panel(data-catalog-side-panel)
		.catalog-side-panel__content
			.product-aside-block
				h4.product-aside-block__title Труба проф. 10 ×10 ×1,0 х/к в две строки 0.001444462 тонн × 900.00₽
			form.product-aside-block(action="./" method="post")
				.sp-select-size
					h4.sp-select-size__title Размер
					.sp-select-size__inputs
						input#size01(type="radio" name="selectsize" value="8")
						label(for="size01") 8 м
						input#size02(type="radio" name="selectsize" value="8.3")
						label(for="size02") 8.3 м
						input#size03(type="radio" name="selectsize" value="12")
						label(for="size03") 12 м
						input#size04(type="radio" name="selectsize" value="18")
						label(for="size04") 18 м
						input#size05(type="radio" name="selectsize" value="22" checked)
						label(for="size05") 22 м
				.sp-select-qty
					input.common-input(type="text" name="product-qty" data-has-tippy data-tippy-template="msgtip-01")
					select.common-select(name="qty-type")
						option(value="ton" selected) Тонны
						option(value="kg") Килограммы
				.sp-available
					span.sp-available__badge В наличии – 4565 шт
					small.sp-available__small Остаток (16 шт) можно заказать без оплаты
				.sp-select-sell-type
					input#selltype01(type="radio" name="selltype" value="1" checked)
					label(for="selltype01") Розница
					input#selltype02(type="radio" name="selltype" value="2")
					label(for="selltype02") М. опт
					input#selltype03(type="radio" name="selltype" value="3")
					label(for="selltype03") Опт
				.sp-total-prices
					.sp-total-prices__row
						.sp-total-prices__col
							p За тонну
						.sp-total-prices__col
							p 82 400 ₽
					.sp-total-prices__row
						.sp-total-prices__col
							p За метр
						.sp-total-prices__col
							p 21.7 ₽
					.sp-total-prices__row.sp-total-prices__row_last
						.sp-total-prices__col
							p Сумма без доставки
						.sp-total-prices__col
							p 130 ₽
				.buttons-group
					button.standard-button.standard-button_bigger(type="button")
						span.standard-button__icon
							svg(width="16" height="16")
								use(xlink:href="#icon-lightning")
						span.standard-button__title В один клик
					button.standard-button.standard-button_bigger.standard-button_grow(type="button")
						span.standard-button__icon
							svg(width="16" height="16")
								use(xlink:href="#icon-cart")
				small.product-aside-block__note Не забудьте выбрать склад, от этого может зависеть цена доставки.
			.product-aside-block
				h4.product-aside-block__title Склад отгрузки
				.sp-warehouses
					.sp-warehouse-card
						input#ware1(type="radio" name="warehouse" value="1" checked)
						label.sp-warehouse-card__label(for="ware1")
							.sp-warehouse-card__title
								.sp-warehouse-card__icon
									svg(width="22" height="16")
										use(xlink:href="#icon-factory")
								h4 База Красных Зорь
							p.sp-warehouse-card__address ул. Красных Зорь, 73
							.product-card__qty
								.product-card__progress-line
									span(style="width: 80%")
								p #[strong Наличие: 1000 штук, 2.4455 тонн]
								p В резерве: 400 штук, 1.4 тонн
								p Ожидается: 56 штук, 0.566 тонн
					.sp-warehouse-card
						input#ware2(type="radio" name="warehouse" value="2")
						label.sp-warehouse-card__label(for="ware2")
							.sp-warehouse-card__title
								.sp-warehouse-card__icon
									svg(width="22" height="16")
										use(xlink:href="#icon-factory")
								h4 База Станкостроителей
							p.sp-warehouse-card__address Иваново, ул. Станкостроителей, д. 22
							.product-card__qty
								.product-card__progress-line
									span(style="width: 80%")
								p Склад: 430 штук, 1.4455 тонн
				h4.product-aside-block__title Удалённый склад
				.sp-warehouses
					.sp-warehouse-card
						input#ware3(type="radio" name="warehouse" value="3")
						label.sp-warehouse-card__label(for="ware3")
							.sp-warehouse-card__title
								.sp-warehouse-card__icon
									svg(width="22" height="16")
										use(xlink:href="#icon-factory")
								h4 База Лежневская
							p.sp-warehouse-card__address Иваново, ул. Лежневская, д. 143
							.product-card__qty
								.product-card__progress-line
									span(style="width: 80%")
								p Склад: 430 штук, 1.4455 тонн

	+footer