extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Documents

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Профиль
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					strong Профиль

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item: a(href="#") Личные данные
						li.simple-catalog-links__item: a(href="#") Мои заказы
						li.simple-catalog-links__item.simple-catalog-links__item_selected: strong Реквизиты и документы
						li.simple-catalog-links__item: a(href="#") Адреса

				.simple-catalog__content
					.static-page.static-page_full-width
						.profile-page
							.profile-page__content
								.pdocuments-block
									h3.pdocuments-block__title Запрос документов
									.pdocuments-block__button-row
										button.pdocuments-button(data-toggle-documents="1" type="button")
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											.pdocuments-button__icon.pdocuments-button__icon_arrow
												svg(width="6" height="11")
													use(xlink:href="#icon-arrow-right")
											span.pdocuments-button__title Акт сверки
									.pdocuments-block__hidden-content(data-documents="1")
										.pdocuments-block__request
											input.common-input.common-input_smaller(type="text" name="request1" placeholder="Период" data-date-range data-floating-label)
											button.action-button.action-button_smaller(type="button") Отправить запрос
									.pdocuments-block__button-row
										button.pdocuments-button(data-toggle-documents="2" type="button")
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											.pdocuments-button__icon.pdocuments-button__icon_arrow
												svg(width="6" height="11")
													use(xlink:href="#icon-arrow-right")
											span.pdocuments-button__title Накладная
									.pdocuments-block__hidden-content(data-documents="2")
									.pdocuments-block__button-row
										button.pdocuments-button(data-toggle-documents="3" type="button")
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											.pdocuments-button__icon.pdocuments-button__icon_arrow
												svg(width="6" height="11")
													use(xlink:href="#icon-arrow-right")
											span.pdocuments-button__title Акт оказания услуг или выполненных работ
									.pdocuments-block__hidden-content(data-documents="3")
									.pdocuments-block__button-row
										button.pdocuments-button(data-toggle-documents="4" type="button")
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											.pdocuments-button__icon.pdocuments-button__icon_arrow
												svg(width="6" height="11")
													use(xlink:href="#icon-arrow-right")
											span.pdocuments-button__title Счёт-фактура
									.pdocuments-block__hidden-content(data-documents="4")

								.pdocuments-block
									h3.pdocuments-block__title Реквизиты
									.pdocuments-block__button-row
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="18" height="20")
													use(xlink:href="#icon-get-doc")
											span.pdocuments-button__title Акт сверки
									.pdocuments-block__button-row
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="18" height="20")
													use(xlink:href="#icon-get-doc")
											span.pdocuments-button__title Кровля 2.0
									.pdocuments-block__button-row
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="18" height="20")
													use(xlink:href="#icon-get-doc")
											span.pdocuments-button__title Строительные конструкции
							aside.profile-page__aside
								.profile-status
									.profile-side-bank-details
										h4.profile-side-bank-details__title
											.icon(aria-hidden="true")
												svg(width="18" height="20")
													use(xlink:href="#icon-get-doc")
											span Мои реквизиты
										.profile-side-bank-details__text
											p #[strong ИНН 3702697444 #[br]КПП 37020100 #[br]Р/С 40702810300000002250]
											p Филиал № 7701 Банка ВТБ (публичное акционерное общество) в г. Москве
									.profile-status__request
										a(href="#") Редактировать

	+footer