extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – My orders

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Мои заказы
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					strong Профиль

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item: a(href="#") Личные данные
						li.simple-catalog-links__item.simple-catalog-links__item_selected: strong Мои заказы
						li.simple-catalog-links__item: a(href="#") Реквизиты и документы
						li.simple-catalog-links__item: a(href="#") Адреса

				.simple-catalog__content
					.static-page
						.profile-page
							.profile-orders
								.profile-order-item
									.profile-order-item__heading
										h4.profile-order-item__title Заказ 936 334 702 от 12.09.2019
										h4.profile-order-item__sum 80 000 ₽
									.profile-order-item__status
										small.declined отменён
									.profile-order-item__details-row
										h5 Тип оплаты
										p Онлайн
									.profile-order-item__details-row
										h5 Адрес
										p Иваново г, Станкостроителей ул, д. 40 c 1 октября (вт)
									.profile-order-item__details-row
										h5 Получатель
										p Андрей Жикалов +7 (909) 247 22 22
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											span.pdocuments-button__title Счёт 906 544 702 от 26.09.2019
									.profile-order-item__hidden(data-order-details="1")
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
									button.profile-order-item__toggle-details(data-toggle-order-details="1") Подробнее

								.profile-order-item
									.profile-order-item__heading
										h4.profile-order-item__title Заказ 936 334 702 53478 78493573948579834 783495734 от 12.09.2019
										h4.profile-order-item__sum 1 230 000 ₽
									.profile-order-item__status
										small.finished выполнен
									.profile-order-item__details-row
										h5 Тип оплаты
										p Онлайн
									.profile-order-item__details-row
										h5 Адрес
										p Иваново г, Станкостроителей ул, д. 40 c 1 октября (вт)
									.profile-order-item__details-row
										h5 Адрес
										p Иваново г, Станкостроителей ул, д. 40 c 1 октября (вт)
									.profile-order-item__details-row
										h5 Получатель
										p Андрей Жикалов +7 (909) 247 22 22
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											span.pdocuments-button__title Счёт 906 544 702 от 26.09.2019
									.profile-order-item__hidden(data-order-details="2")
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
									button.profile-order-item__toggle-details(data-toggle-order-details="2") Подробнее

								.profile-order-item
									.profile-order-item__heading
										h4.profile-order-item__title Заказ 936 334 702 от 12.09.2019
										h4.profile-order-item__sum 80 000 ₽
									.profile-order-item__status
										small.declined отменён
									.profile-order-item__details-row
										h5 Тип оплаты
										p Онлайн
									.profile-order-item__details-row
										h5 Адрес
										p Иваново г, Станкостроителей ул, д. 40 c 1 октября (вт)
									.profile-order-item__details-row
										h5 Получатель
										p Андрей Жикалов +7 (909) 247 22 22
										a.pdocuments-button(href="#" download)
											.pdocuments-button__icon
												svg(width="17" height="21")
													use(xlink:href="#icon-list-clip")
											span.pdocuments-button__title Счёт 906 544 702 от 26.09.2019
									.profile-order-item__hidden(data-order-details="3")
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
										.profile-order-details-item
											h4.profile-order-details-item__title Труба проф. 10*10*1,0 х/к в две строки 0.001444462 тонн × 900.00₽
											.profile-order-details-item__left
												.profile-order-details-item__col
													p 10 шт
													small Количество
												.profile-order-details-item__col
													p 187 ₽
													small Цена за шт
											.profile-order-details-item__right
												.profile-order-details-item__col
													p
														| 3,0 = 42.0 ₽
														svg(width="14" height="6")
															use(xlink:href="#icon-saw")
													small Количество и сумма резки
												.profile-order-details-item__col
													p #[strong 36.00 ₽]
													small Всего с учётом резки
									button.profile-order-item__toggle-details(data-toggle-order-details="3") Подробнее

								button.profile-orders__refresh(type="button")
									svg(width="13" height="17")
										use(xlink:href="#icon-refresh")

	+footer