extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Simple catalog

block mainContent

	+header

	.section-header
		.section-header__inner
			h2.section-header__title Каталог
			ul.breadcrumbs
				li
					a(href="#")
						svg(width="91" height="10")
							use(xlink:href="#icon-msg-market-grey-logo")
				li
					.breadcrumbs-submenu
						ul.breadcrumbs-submenu__links
							li: h4.breadcrumbs-submenu__title Ссылки
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
							li: a(href="#") Ссылка
					a(href="#") Каталог

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item.simple-catalog-links__item_selected
							strong Металлопрокат
							ul.simple-catalog-links__submenu
								li: a(href="#") Арматура
								li: a(href="#") Трубы
								li: a(href="#") Труба профильная
								li: a(href="#") Фасонный прокат
								li: a(href="#") Сортовой прокат
								li: a(href="#") Листовой прокат
								li: a(href="#") Профнастил
								li: a(href="#") Листовой прокат
								li: a(href="#") Металлочерепица
								li: a(href="#") Рельса
								li: a(href="#") Сетка
								li: a(href="#") Цветные металлы
						li.simple-catalog-links__item
							a(href="#") #[strong Кровля]
						li.simple-catalog-links__item
							a(href="#") #[strong Навесы и теплицы]
						li.simple-catalog-links__item
							a(href="#") #[strong Фасад]
						li.simple-catalog-links__item
							a(href="#") #[strong Фундамент]
						li.simple-catalog-links__item
							a(href="#") #[strong Сопутствующие товары]
						li.simple-catalog-links__item
							a(href="#") #[strong Крепёж]
						li.simple-catalog-links__item
							a(href="#") #[strong Строительные смеси]
						li.simple-catalog-links__item
							a(href="#") #[strong Решётчатые настилы]
						li.simple-catalog-links__item
							a(href="#") #[strong Электротовары]
						li.simple-catalog-links__item
							a(href="#") #[strong Забор]
						li.simple-catalog-links__item
							a(href="#") #[strong Технические газы]

				.simple-catalog__content
					.simple-catalog-grid
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-01.jpg", alt="")
								h4.simple-catalog-grid-item__title Металлопрокат
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-02.jpg", alt="")
								h4.simple-catalog-grid-item__title Кровля
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-03.jpg", alt="")
								h4.simple-catalog-grid-item__title Навесы и теплицы
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-04.jpg", alt="")
								h4.simple-catalog-grid-item__title Фасад
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-05.jpg", alt="")
								h4.simple-catalog-grid-item__title Фундамент
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-06.jpg", alt="")
								h4.simple-catalog-grid-item__title Сопутствующие товары
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-07.jpg", alt="")
								h4.simple-catalog-grid-item__title Крепёж
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-08.jpg", alt="")
								h4.simple-catalog-grid-item__title Строительные смеси
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-09.jpg", alt="")
								h4.simple-catalog-grid-item__title Решётчатые настилы
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-10.jpg", alt="")
								h4.simple-catalog-grid-item__title Электротовары
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-11.jpg", alt="")
								h4.simple-catalog-grid-item__title Забор
						.simple-catalog-grid__col
							.simple-catalog-grid-item
								a.simple-catalog-grid-item__overlay-link(href="#")
								.simple-catalog-grid-item__image
									img(src="./assets/img/catalog/catalog-grid-item-12.jpg", alt="")
								h4.simple-catalog-grid-item__title Технические газы


	+footer