extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Something goes wrong

block mainContent

	+header

	.main-content
		.main-content__inner
			.order-error
				.order-error__content
					img.order-error__image(src="./assets/img/box-404.png", alt="")
					h3.order-error__title Что-то пошло не так
					.order-error__text
						p варианты оплаты можно обсудить с менеджером, ждите звонка или наберите +7 (4932) 930-330

	+footer