extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Static page

block mainContent

	+header

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item.simple-catalog-links__item_selected
							strong О компании
						li.simple-catalog-links__item: a(href="#") Доставка
						li.simple-catalog-links__item: a(href="#") Сотрудники
						li.simple-catalog-links__item: a(href="#") Наши журналы
						li.simple-catalog-links__item: a(href="#") Вакансии
						li.simple-catalog-links__item: a(href="#") Новости
						li.simple-catalog-links__item: a(href="#") Должники
						li.simple-catalog-links__item: a(href="#") Наше производство
						li.simple-catalog-links__item: a(href="#") Оплата картой
						li.simple-catalog-links__item: a(href="#") Обмен и возврат

				.simple-catalog__content
					.static-page
						h2 Наш принцип — если за что-то берешься, делай на 100%! 18 лет компания стремится к тому, чтобы слово металл ассоциировалось c нашей компанией
						.static-page__image-block
							img(src="./assets/img/static-page-image.jpg", alt="")
						h4 Интернет-магазин #[br]стройматериалов MSG-Market
						p Товары для полного спектра строительных работ: от возведения фундамента до монтажа кровли – в одном месте!
						p В нашем онлайн-магазине представлен широчайший ассортимент строительных товаров по привлекательным ценам! Наша цель – не просто предоставить вам качественные стройматериалы, а сделать так, чтобы Вы гордились результатами своих реализованных проектов! Мы предоставляем грамотные консультации по подбору лучшего решения, а также широкий перечень полезных услуг: от резки металла до аренды спецтехники.
						p Сегодня МСГ — строительно-монтажный холдинг с крупнейшей в регионе материально-технической базой, в состав которой входят: конструкторское бюро, 3 металлобазы; 3 производства металлоконструкций; 2 бетонных узла; цех производства профнастила и транспортно-логистическая служба.
						p Мы работаем как с оптовыми покупателями, так и с частными физическими лицами, воплощая в жизнь проекты любой сложности.
						p Для заказа выберите необходимый товар и его количество в каталоге, заполните контактные данные и укажите детали заказа. Далее заявка отправится менеджеру на обработку, а Вы получите уведомление о подтверждении заказа.
						ul
							li Маркированный список.
							li Газели (длина от 3 м до 6 м) до 1,5 тн
							li Газоны до 4,5 тн
							li Манипуляторы до 8 тн
							li Фуры до 21 тн
							li Автокран г/п 16 тн стрела 18 м
							li Погрузчик фронтальный ковш 0,7 м3
						.static-page__text-cols
							.static-page__text-col
								h4 Текст с заголовком в два столбца
								p В нашем онлайн-магазине представлен широчайший ассортимент строительных товаров по привлекательным ценам! Наша цель – не просто предоставить вам качественные стройматериалы, а сделать так, чтобы Вы гордились результатами своих реализованных проектов! Мы предоставляем грамотные консультации по подбору лучшего решения, а также широкий перечень полезных услуг: от резки металла до аренды спецтехники.
								p Сегодня МСГ — строительно-монтажный холдинг с крупнейшей в регионе материально-технической базой, в состав которой входят: конструкторское бюро, 3 металлобазы; 3 производства металлоконструкций; 2 бетонных узла; цех производства профнастила и транспортно-логистическая служба.
							.static-page__text-col
								h4 Текст с заголовком в два столбца
								p В нашем онлайн-магазине представлен широчайший ассортимент строительных товаров по привлекательным ценам! Наша цель – не просто предоставить вам качественные стройматериалы, а сделать так, чтобы Вы гордились результатами своих реализованных проектов! Мы предоставляем грамотные консультации по подбору лучшего решения, а также широкий перечень полезных услуг: от резки металла до аренды спецтехники.
						.static-page__note
							h4 Текст с заголовком на плашке
							p В нашем онлайн-магазине представлен широчайший ассортимент строительных товаров по привлекательным ценам! Наша цель – не просто предоставить вам качественные стройматериалы, а сделать так, чтобы Вы гордились результатами своих реализованных проектов! Мы предоставляем грамотные консультации по подбору лучшего решения, а также широкий перечень полезных услуг: от резки металла до аренды спецтехники.
						blockquote
							h4 Цитата или выделение фразы
							p В нашем онлайн-магазине представлен широчайший ассортимент строительных товаров по привлекательным ценам! Наша цель – не просто предоставить вам качественные стройматериалы, а сделать так, чтобы Вы гордились результатами своих реализованных проектов! Мы предоставляем грамотные консультации по подбору лучшего решения, а также широкий перечень полезных услуг: от резки металла до аренды спецтехники.

	+footer