extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Новости

block mainContent

	+header

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item: a(href="#") О компании
						li.simple-catalog-links__item: a(href="#") Доставка
						li.simple-catalog-links__item: a(href="#") Сотрудники
						li.simple-catalog-links__item: a(href="#") Наши журналы
						li.simple-catalog-links__item: a(href="#") Вакансии
						li.simple-catalog-links__item.simple-catalog-links__item_selected
							strong Новости
						li.simple-catalog-links__item: a(href="#") Должники
						li.simple-catalog-links__item: a(href="#") Наше производство
						li.simple-catalog-links__item: a(href="#") Оплата картой
						li.simple-catalog-links__item: a(href="#") Обмен и возврат

				.simple-catalog__content
					.static-page.static-page_full-width
						h2 Новости
						.news-list
							.news-list-item
								time.news-list-item__date 02 июля 2021
								h4.news-list-item__title Дарим подарки при заказе через сайт
								.news-list-item__text
									p Друзья, нам очень понравилось вручать подарки довольным покупателям, поэтому мы возобновляем акцию при покупке стройматериалов онлайн!
							.news-list-item
								time.news-list-item__date 02 июля 2021
								h4.news-list-item__title Приглашаем на работу машиниста автокрана.
								.news-list-item__text
									p Высокая сдельная зарплата. (мотивация 300 руб./час)
									p Работа на постоянной основе на долгосрочных объектах: монтаж строительных конструкций, разгрузка материалов.
									p Кран-вездеход КС-55713, 25 тн, стрела 31 м.
							.news-list-item
								time.news-list-item__date 22 июня 2021
								h4.news-list-item__title Производим дорожные плиты и фундаментные блоки!
								.news-list-item__text
									p В MSG Маркет – новинки: ж/б изделия собственного производства!
							.news-list-item
								time.news-list-item__date 09 мая 2021
								h4.news-list-item__title 9 мая!
								.news-list-item__text
									p Сегодня отмечается день Победы.
									p Этот праздник отзывается почти в каждом из нас. У большинства семей есть свой герои, которых затронули события, происходившие 76 лет назад.
							.news-list-item
								time.news-list-item__date 22 июня 2021
								h4.news-list-item__title Производим дорожные плиты и фундаментные блоки!
								.news-list-item__text
									p В MSG Маркет – новинки: ж/б изделия собственного производства!
							.news-list-item
								time.news-list-item__date 09 мая 2021
								h4.news-list-item__title 9 мая!
								.news-list-item__text
									p Сегодня отмечается день Победы.
									p Этот праздник отзывается почти в каждом из нас. У большинства семей есть свой герои, которых затронули события, происходившие 76 лет назад.
						.pagination
							a.pagination__item.pagination__item_arrow.pagination__item_arrow_prev.pagination__item_disabled(href="#")
							span.pagination__item.pagination__item_page.pagination__item_current 1
							a.pagination__item.pagination__item_page(href="#") 2
							a.pagination__item.pagination__item_page(href="#") 3
							a.pagination__item.pagination__item_page(href="#") …
							a.pagination__item.pagination__item_arrow.pagination__item_arrow_next(href="#")

	+footer