extends ../layout/main-layout.pug

block additionalScripts

block pageTitle
	title MSGMarket – Team

block mainContent

	+header

	.main-content
		.main-content__inner
			.simple-catalog
				aside.simple-catalog__aside.simple-catalog-aside
					ul.simple-catalog-links
						li.simple-catalog-links__item: a(href="#") О компании
						li.simple-catalog-links__item: a(href="#") Доставка
						li.simple-catalog-links__item.simple-catalog-links__item_selected
							strong Сотрудники
						li.simple-catalog-links__item: a(href="#") Наши журналы
						li.simple-catalog-links__item: a(href="#") Вакансии
						li.simple-catalog-links__item: a(href="#") Новости
						li.simple-catalog-links__item: a(href="#") Должники
						li.simple-catalog-links__item: a(href="#") Наше производство
						li.simple-catalog-links__item: a(href="#") Оплата картой
						li.simple-catalog-links__item: a(href="#") Обмен и возврат

				.simple-catalog__content
					.static-page.static-page_full-width
						h2 Администрация
						.team-grid
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-01.jpg", alt="")
									h4.team-grid-item__name Рамин Рагибович Ибрагимов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-02.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-03.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-04.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-05.jpg", alt="")
									h4.team-grid-item__name Сергей Сергеевич Гаврилов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-06.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-07.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Помощник директора по вопросам транспортной и складской логистики
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-08.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")
						h4 Отдел розничных продаж
						.team-grid
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-01.jpg", alt="")
									h4.team-grid-item__name Рамин Рагибович Ибрагимов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-02.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-03.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-04.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-05.jpg", alt="")
									h4.team-grid-item__name Сергей Сергеевич Гаврилов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-06.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-07.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Помощник директора по вопросам транспортной и складской логистики
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-08.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")
						h4 Юридический отдел
						.team-grid
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-01.jpg", alt="")
									h4.team-grid-item__name Рамин Рагибович Ибрагимов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-02.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-03.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-04.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-05.jpg", alt="")
									h4.team-grid-item__name Сергей Сергеевич Гаврилов
									p.team-grid-item__info Исполнительный директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-06.jpg", alt="")
									h4.team-grid-item__name Наталья Евгеньевна Волкова
									p.team-grid-item__info Директор
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-07.jpg", alt="")
									h4.team-grid-item__name Матвей Михайлович Волков
									p.team-grid-item__info Помощник директора по вопросам транспортной и складской логистики
									a.team-grid-item__overlay-link(href="#")
							.team-grid__col
								.team-grid-item
									.team-grid-item__photo
										img(src="./assets/img/team-08.jpg", alt="")
									h4.team-grid-item__name Светлана Алексеевна Кривоносова
									p.team-grid-item__info Секретарь
									a.team-grid-item__overlay-link(href="#")

	+footer